<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="domain.helprefugees">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="Help Refugees"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".view.TelaInicial"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.TelaPrincipal"
            android:label="Help Refugees"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.TelaLogin"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".view.TelaRegistro" />
        <activity android:name=".view.TelaRegistro2" />
        <activity
            android:name=".view.TelaPerfil"
            android:label="Seu perfil"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.TelaVerMob"
            android:label=" Praça kantuta"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".view.TelaInformacoes"
            android:label="Informações"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.TelaEscolas"
            android:label="Escolas e hospitais"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.TelaOngs"
            android:label="ONGs"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".view.TelaDocumentacao" />
        <activity android:name=".view.TelaEmpregos" />
        <activity android:name=".view.TelaMenu" />
        <activity android:name=".view.TelaCriarMob"></activity>
    </application>

</manifest>